doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title= title || 'Dashboard - TFTG'
  block head
    // CSS files
    link(href='/dist/css/tabler.min.css?1692870487' rel='stylesheet')
    link(href='/dist/css/tabler-flags.min.css?1692870487' rel='stylesheet')
    link(href='/dist/css/tabler-payments.min.css?1692870487' rel='stylesheet')
    link(href='/dist/css/tabler-vendors.min.css?1692870487' rel='stylesheet')
    link(href='/dist/css/demo.min.css?1692870487' rel='stylesheet')
  style.
    @import url('https://rsms.me/inter/inter.css');
    :root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
    font-feature-settings: "cv03", "cv04", "cv11";
    }
    :root,[data-bs-theme=light] {
      --bs-table-bg: #fff
    }
    [data-bs-theme=dark],body[data-bs-theme=dark] [data-bs-theme=light] {
      --bs-table-bg: #0d1b2a
    }
body
  script(src='/dist/js/demo-theme.min.js?1692870487')
  .page
    // Navbar
    .sticky-top
      include ./header
    .page-wrapper
      block content
      include ./footer
  block js
    // Libs JS
    script(src='/dist/libs/apexcharts/dist/apexcharts.min.js?1692870487' defer='')
    script(src='/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1692870487' defer='')
    script(src='/dist/libs/jsvectormap/dist/maps/world.js?1692870487' defer='')
    script(src='/dist/libs/jsvectormap/dist/maps/world-merc.js?1692870487' defer='')
    // Tabler Core
    script(src='/dist/js/tabler.min.js?1692870487' defer='')
    script(src='/dist/js/demo.min.js?1692870487' defer='')
    script(src='https://code.jquery.com/jquery-3.7.1.min.js' integrity='sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js')
